# Node
node_modules/
dist/
.env

# Python
venv/
.venv/
__pycache__/
*.pyc
.env
backend/app/ai/models/

# OS
.DS_Store
Thumbs.db

# ML Training Data & Environments
ml_model/fer2013/
ml_model/__pycache__/

# MLflow
mlruns/
mlflow_confusion_matrix.png
